# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so*

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

build/
*.swp
assets/mymodels/logo/EH.obj
assets/downloads/cherry_tomato/VG18_1.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/xfrog_x_logo_black_small.gif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/xfrog_x_logo_black_small (2).gif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_human.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_human (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_circle.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_circle (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_OMruler.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_OMruler (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_1metrisch.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/_ruler_1metrisch (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/Xfrog_HomeGarden_usage.html
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/Xfrog_HomeGarden_usage (2).html
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef3_a.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef3_a (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef3.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef3 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef2_a.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef2_a (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef2.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef2 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef1_a.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef1_a (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef1.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18lef1 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt4.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt4 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt3.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt3 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt2.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt2 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18frt (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw3_a.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw3_a (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw3.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw3 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw2_a.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw2_a (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw2.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw2 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw1_a.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw1_a (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw1.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18flw1 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18brn1.tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18brn1 (2).tif
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_9.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_9.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_9.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_9 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_9 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_9 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_8.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_8.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_8.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_8 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_8 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_8 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_7.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_7.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_7.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_7 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_7 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_7 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_6.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_6.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_6.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_6 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_6 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_6 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_5.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_5.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_5.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_5 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_5 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_5 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_4.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_4.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_4.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_4 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_4 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_4 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_3.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_3.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_3.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_3 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_3 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_3 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_2.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_2.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_2.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_2 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_2 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_2 (2).mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_1.xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_1.obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_1.mtl
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_1 (2).xfr
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_1 (2).obj
assets/HG18_Solanum_lycopersicum_Cherry_Tomato_obj/HG18_Solanum_lycopersicum_Cherry_Tomato/VG18_1 (2).mtl
